{% extends "base.html" %}
{% block title %}Red del café{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <h3>Borrar Blogs</h3>
  </div>
  <div class="row">
    <p>¿Estás seguro de borrar el Blog: {{frs.nombre}}</p><br/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.si(class="btn btn-primary") }} {{form.no(class="btn btn-primary")}}<br/><br/>
        </div> 
      </form>
    </div>
  </div>
</div>
{% endblock %}
